#titulo{
    font-weight: bold;
    font-size: 20px;
}

.filtros{
    outline-color: black;
    border-radius: 10px; /* Ajusta este valor según tus necesidades */
    border: 2px solid black; /* Añade un marco */
    padding: 10px 20px 10px 20px;
}