#item{
    width: 100%;
    background-color: #F0E9E6;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
}

.botones_admin{
    font-size: 16px;
    background-color: white;
    color: black;
    border-color: white;
}

.botones_admin:hover, .botones_admin:active, .botones_admin:focus  {
    background-color: white;
    color: black;
    border-color: white;
    box-shadow: none; /* Quita la sombra al hacer clic */
    outline: none;
}
.selected {
    font-weight: bold;
    font-size: 16px;

}