@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.comment-card {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.comment-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.rating-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.rating-circle svg {
  width: 40px;
  height: 40px;
}

.comment-details {
  margin-left: 10px;
}

.name {
  font-weight: bold;
}

.comment-right {
  padding: 10px;
}

.user-photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

